############################
# Build
############################
bin/
obj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider
############################
.idea/

############################
# VS Code
############################
.vscode/

############################
# Logs
############################
logs/
*.log

############################
# Publish
############################
publish/
artifacts/

############################
# NuGet
############################
*.nupkg
packages/

############################
# ASP.NET Core
############################
wwwroot/lib/
wwwroot/media/
############################
# Orchard Core
############################

# App_Data chứa database SQLite, Media, cache...
App_Data/

# Nếu dùng SQLite
*.db
*.db-shm
*.db-wal

# Lucene index
App_Data/Sites/*/Lucene/

# Cache
App_Data/Sites/*/Cache/

############################
# User secrets
############################
secrets.json

############################
# Node
############################
node_modules/

############################
# OS
############################
.DS_Store
Thumbs.db